*{
	margin: 0;
	padding: 0;
}
#head{
	width: 100%;
	min-height: 1500px;
}
#bg{
	width: 1400px;
	height: 1502px;
	margin: 0 auto;

	/*border:1px solid red; */
}
/*学院logo栏*/
#top{
	width: 1400px;
	height: 100px;
	/*border-bottom: 1px dashed gray;*/
	background:#1F5286;
}
/*左侧学院logo*/
#img1{
	width:80px;
	height: 80px;
	border-radius: 100px;
	float: left;
}
/*中部学院名称*/
#top-center{
	width: 280px;
	height: 80px;
	float: left;
}
p{
	text-indent: 10px;
}
#p1{
	font-size: 28px;
	margin-top: 3px;
	font-weight: bold;
	font-family: "楷体"; 
	color: #fff;
}
#p2{
	margin-top: 15px;
	color: lightgray;

}
/*右侧搜索框*/
#top-right{
	width: 280px;
	height: 80px;
	float: right;
}
input,button{
	float: left;
}
/*导航*/
#nav{
	width: 1400px;
	height: 50px;
	background:linear-gradient(#79A0C4,#1F5286,#1F5286); 
}
#nav>ul{
	float: left;
}
#nav>ul>li{
	width: 130px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	list-style: none;
	float: left;
	/*margin-left: 60px;*/
}
#nav>ul>li:nth-child(1){
	margin-left: 110px;
}
#nav>ul>li:hover{
	cursor: pointer;
	background: red;
	background:#0D2C4B; 
	border-bottom: 1px solid black;
}
#nav>ul>li>a{
	color: black;
	color: #FFF;
	text-decoration: none;
}
#nav>ul>li>a:hover{
	color: yellow;
}
#nav>ul>li>ul>li{
	width: 130px;
	height: 30px;
	color: #fff;
	list-style: none;
	text-align: center;
	line-height: 30px;
	background:#6F90B2;
}
#nav>ul>li>ul>li:hover{
	/*color: yellow;*/
	background:#1A2471;
}
#nav>ul>li>ul{
	display: none;
}
#nav>ul>li:hover>ul{
	display: block;
}
/*中部图片*/
.Img{
	width: 1400px;
	height: 300px;
	/*border: 1px solid red; */
	background-image:url(../images/c20.jpg);
	background-size: 1400px 300px;
}
/*中部图片右侧*/
.Img_right{
	width: 400px;
	height: 200px;
	/*border-bottom: 1px solid blue;*/
	float: right;
	margin-top: 100px;
	background: seashell ;
	opacity:0.7;
}

.Img_right_top{
	width: 380px;
	height: 50px;
	/*border-bottom: 1px solid lightgray;*/
	margin: 0 auto;
}

.Img_right_top>span{
	text-align: center;
	margin-top: 10px;
	color: black;
	font-weight: bold;
}
/*中部*/
.main{
	width: 1400px;
	height: 800px;
	/*border: 1px solid green;*/
}
/*中部左侧*/
.main_left{
	width: 260px;
	height: 250px;
	float: left;
	margin-left:115px;
	margin-top: 30px;
}
.main_left_one{
	width: 260px;
	height: 60px;
	/*border: 1px solid blue;*/
	margin: 0 auto;
	background:#ccccff;
	color:#660099;
	border-bottom: 1px dotted black;
	
}
.main_left_one>li{
	list-style: none;
	font-size: 25px;
	font-family:黑体;
	text-align: center;
	line-height:60px;
}
.main_left_one:hover{
	cursor: pointer;
	background:#e5e5ff;
}
.main_left_two{
	width: 260px;
	height: 60px;
	/*border: 1px solid blue;*/
	margin: 0 auto;
	background:#ccccff;
	color:#660099;
	border-bottom: 1px dotted black;
}
.main_left_two>li{
	list-style: none;
	font-size: 25px;
	font-family:黑体;
	text-align: center;
	line-height: 60px;
}
.main_left_two:hover{
	cursor: pointer;
	background:#e5e5ff;
	
}
.main_left_three{
	width: 260px;
	height: 60px;
	background:#ccccff;
	color:#660099;
	/*border: 1px solid blue;*/
	margin: 0 auto;
	border-bottom: 1px dotted black;
	
}
.main_left_three>li{
	list-style: none;
	font-size: 25px;
	font-family:黑体;
	text-align: center;
	line-height: 60px;

}
.main_left_three:hover{
	cursor: pointer;
	background:#e5e5ff;
}
.main_left_four{
	width: 260px;
	height: 60px;
	background:#ccccff;
	color:#660099;
	margin: 0 auto;
	border-bottom: 1px dotted black;
}
.main_left_four>li{
	list-style: none;
	font-size: 25px;
	font-family:黑体;
	text-align: center;
	line-height: 60px;
}
.main_left_four:hover{
	cursor: pointer;
	background:#e5e5ff;
}
span{
	font-weight: bold;
}
/*中部右侧选项一*/
#main_right_1{
	width: 800px;
	height: 800px;
	/*border: 1px solid blue;*/
	float: left;
	margin-left: 80px;
}
#main_right_1>li{
	/*float: left;*/
	list-style: square;
	margin-left: 5px;
	margin-top: 20px;
	font-size: 20px;
	border-bottom:1px  dotted gray;
}
#main_right_1>li:hover{
	color: red;
	cursor: pointer;
}
/*中部右侧选项二*/
#main_right_2{
	width: 800px;
	height: 800px;
	/*border: 1px solid blue;*/
	float: left;
	margin-left: 80px;
}
#main_right_2>li{
	/*float: left;*/
	list-style: square;
	margin-left: 5px;
	margin-top: 20px;
	font-size: 20px;
	border-bottom:1px  dotted gray;
}
#main_right_2>li:hover{
	color: red;
	cursor: pointer;
}
/*中部右侧选项三*/
#main_right_3{
	width: 800px;
	height: 800px;
	/*border: 1px solid blue;*/
	float: left;
	margin-left: 80px;
}
#main_right_3>li{
	/*float: left;*/
	list-style: square;
	margin-left: 5px;
	margin-top: 20px;
	font-size: 20px;
	border-bottom:1px  dotted gray;
}
#main_right_3>li:hover{
	color: red;
	cursor: pointer;
}
#main_right_3>h4:hover{
	color: red;
	cursor: pointer;
	margin-left: 20px;
}
/*中部右侧选项四*/
#main_right_4{
	width: 800px;
	height: 900px;
	/*border: 1px solid blue;*/
	float: left;
	margin-left: 80px;
}
#main_right_4>h4{
	text-align: center;
}
#main_right_4>li{
	text-align: center;
	list-style: none;
	margin-top: 5px;
}
/*第二中部*/
.center_one{
	width: 1000px;
	height: 50px;
	/*border: 1px solid blue;*/
	margin-left: 40px;
	/*margin: 0 auto;*/
}
/*四个模块*/
.center_two{
	width: 300px;
	height: 300px;
	/*border: 1px solid red;*/
	float: left;
	margin-left: 40px;
	/*margin-top: 30px;*/
}
/*底部*/
#buttom{
	width: 100%;
	height: 130px;
	float: left;
	margin-top: 40px;
	background:#22132D;
}
.one>li{
	width:100%;
	list-style: none;
	color: #fff;
	text-align: center;

}	
.one{
	width: 50%;
	/*background: red;*/
	margin:0 auto; 
/*	line-height:5px;*/
	margin-top:15px;
}
